/* Partials */
@use "./navbar";
@use "./backgroundParallax";
@use "./displayItems";
@use "./smLinkPrimary";

/* PrimeReact Theme (Choose one) */
@import "primereact/resources/themes/lara-dark-teal/theme.css"; //prime react prebuilt theme

/* PrimeReact Core */
@import "primereact/resources/primereact.min.css";

/* PrimeIcons */
@import "primeicons/primeicons.css";

/* PrimeFlex (for utility classes) */
@import "primeflex/primeflex.css";

/* Custom global styles (if needed) */
html,
body {
  //height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
